---
// Component imports and setup JavaScript go here!
import BaseLayout from '../layouts/BaseLayout.astro'
import SpecialButton from '../components/SpecialButtons/SpecialButton.jsx'
import SpecialButtonTwo from '../components/SpecialButtons/SpecialButtonTwo.svelte'
const title = "Components"
--- 

<script>
  import '../components/SpecialButtons/special-button.ts'
</script>

<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <SpecialButton client:load >Click Me</SpecialButton>
    <SpecialButtonTwo client:load >Click Me 2</SpecialButtonTwo>
    <special-button>Click Me 3</special-button>
  </div>
</BaseLayout>



