---
// Component imports and setup JavaScript go here!
import BaseLayout from '../layouts/BaseLayout.astro'

const title = "Contact Us!"
---

<style lang="scss" scoped>
</style>

<BaseLayout title={title}>
  <div>
    <h1>{title}</h1>
    <p>Hey I'm on the contact page</p>
  </div>
</BaseLayout>



