---
// Component imports and setup JavaScript go here!
import BaseLayout from '../layouts/BaseLayout.astro'

const title = "Testing Title from fences"
---

<style lang="scss" scoped>
div {
 h1 {
    color: blue;
  }
}
</style>

<BaseLayout title={title}>
  <div>
    <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
    <p>Hey I'm using a layout</p>
  </div>
  <h1>Testing another Heading</h1>
  <h2>Links</h2>
  <ul>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/components">Components</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/news">News</a></li>
  </ul>
  <h2>Images</h2>
  <img src="/images/john-fowler-unsplash.jpg" width="300px" />
  <img src={Astro.resolve('../images/wil-stewart-unsplash.jpg')} width="300px" />
</BaseLayout>



